
<div class="container">
    <h1>My quotes</h1>
 <div class="row">
     <div class="col-md-6">
 <div *ngFor='let quote of quotes;let i = index'>
     <!-- <div [appHighlight] = 'quote.highest'></div> -->
     <p>{{quote.name}}  posted on {{quote.datePosted|date}}</p>
        <div>
          <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
      <app-quote-details class="quote-details" [quote]='quote'  (isComplete) = 'deleteQuote($event,i)' (toVote)='quoteVote($event,1)'></app-quote-details>
       
    </div>
       
    </div>
     </div>
<div class="col-md-6">
<app-quote-form [addNewQuote]='addNewQuoteFunc'></app-quote-form>  
</div>
    </div>
   
     </div>
         <!-- [quotes]='qoutes'    -->
